#root {
  min-height: 100vh;
  background-color: #0f0f0f;
}

.container {
  min-height: 100vh;
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
